*{
    padding:0;
    margin:0;
}
body{
    background: #444;
}
html,body{
    height: 100%;
}
.container{
    width: 80%;
    height: 80%;
    margin:10% auto;
    border-radius: 8px;
    overflow: hidden;
}
.container .top{
    line-height: 60px;
    padding: 0 20px;
    background: #0af;
}
.container .content{
    height: calc(100% - 60px) ;
    padding: 20px;
    background: #fff;
}